
*.*

!HDHomeRunEPG_To_XmlTv.py
!README.md
!bmc_qr.png
!.gitignore
!.vscode/
!.vscode/launch.json
!binaries/*.zip
!binaries/*.exe
!.dockerignore
!DOCKER_README.md
!docker-compose.yml
!Dockerfile
!requirements.txt

build/